#contaMeSection {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 80svh;
  background-color: var(--color1-background);
  padding-bottom: 2%;
  margin-top: auto;
  /* margin-bottom: auto; */
}

.boxTitle {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.boxTitle h1 {
  margin: auto;
  width: fit-content;
  border: 2px solid;
  padding: var(--spacing-s) var(--spacing-l);
  font-size: medium;
  font-weight: 600;
}
.boxTitle p {
  margin: auto;
  width: 70%;
  padding: var(--spacing-s) var(--spacing-l);
  font-size: 13px;
  font-weight: lighter;
}
.boxTitle img {
  width: 15%;
}

.boxForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 380px;
  width: 50%;
}
.boxForm input {
  padding: none;
  min-height: 35px;
  width: 100%;
  background-color: var(--color1-background);
}
.boxForm input::placeholder {
  font-size: 11px;
  padding-left: 1%;
}
#comentario {
  min-height: 150px;
  background-color: var(--color1-background);
}
#comentario::placeholder {
  font-size: small;
  padding: 1%;
}
.boxForm button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  padding: var(--spacing-s) var(--spacing-m);
  background-color: var(--color1-background);
  border-radius: 15px;
  box-shadow: inset 0 0 0 0 #000000;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.boxForm button:hover {
  box-shadow: inset 400px 50px 0 0 #000000;
  color: aliceblue;
  font-weight: 200;
}
