#aboutMeSection {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 90svh;
  background-color: var(--color1-background);
  margin-top: auto;
}

#sectionAboutMe {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
#boxAboutMe {
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  margin-top: center;
}
#boxAboutMe > h1 {
  margin-bottom: 0;
  border: 2px solid;
  padding: var(--spacing-m) var(--spacing-xl);
}
#boxAboutMe > p {
  font-weight: 300;
  width: 70%;
  text-align: justify;
}

.sectionServices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
  align-items: center;
  height: fit-content;
}

.sectionServices > h2 {
  margin-top: 5%;
  width: fit-content;
  border: 1px solid;
  padding: var(--spacing-s) var(--spacing-l);
  font-size: medium;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.sectionServices > article {
  font-weight: 300;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70%;
  min-height: 150px;
}

.sectionServices > article > h3 {
  font-size: small;
  font-weight: 500;
  margin-bottom: 2%;
}
.sectionServices > div > article > p {
  font-weight: 300;
  width: 80%;
  font-size: 13px;
}
.sectionServices img {
  margin-bottom: 5%;
}

@media (max-width: 650px) {
  #aboutMeSection {
    height: fit-content;
    justify-content: space-between;
  }
  #sectionAboutMe {
    min-height: 550px;
  }
  #boxAboutMe {
    min-height: 400px;
  }
  #boxAboutMe > h1 {
    border: 1px solid;
  }

  #boxAboutMe > p {
    font-size: 15px;
  }

  #sectionAboutMe img {
    width: 20%;
  }
  .sectionServices {
    /* background-color: aqua; */
    min-height: 500px;
    justify-content: space-around;
    margin-top: 5%;
  }

  .sectionServices > div {
    margin-top: 10%;
    min-height: 400px;
    margin-bottom: 2%;
  }

  .sectionServices > article {
    justify-content: space-around;
    min-height: 200px;

    width: 60%;
  }
  .sectionServices img {
    margin-bottom: 20%;
    width: 20%;
  }
}

@media (max-width: 500px) {
}
